body{
background-repeat: no-repeat;
background-size: cover;
}

.images-1{
    border: none;
    animation-name: carousel;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;


}

.logo{
    border: 1px solid black;
    border-style: groove;
    transform: rotate(-15deg);
    margin-left: 50px;
    margin-top: 40px;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    animation-delay: 3s;
}
@keyframes logo {
    0%{transform: translateY(-350px)}
    /* 50%{transform: translateY(-350px)} */
    100%{transform: translate(30px) rotate(-10deg)}
}





footer{
background-image: url(images/painting_company_logo.png);
    text-align: center;
    position: fixed;
    left:0;
    bottom: 0;
    
    font-size: 15px;
    width: 100%;
    color: white;
    /* margin-top: 50px; */
    /* margin-left: 650px; */

}


nav{
    list-style-type: none;
}
.first  {
    text-decoration:none;
    font-size: 20px;
    margin: 35px;
    color: white;
    border-radius: 20px;
    background:red;
    padding: 20px;
    width: 323px;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 4px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
nav a:hover{
    color: white;
    text-decoration: none;
}
.second  {
    text-decoration:none;
    font-size: 20px;
    margin: 35px;
    color: white;
    border-radius: 20px;
    background: green;
    padding: 20px;
    width: 323px;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 4px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 100px;
    
}
.third {
    text-decoration:none;
    font-size: 20px;
    margin: 35px;
    color: white;
    border-radius: 20px;
    background: brown;
    padding: 20px;
    width: 323px;
    height: 30px;
    padding-bottom: 30px;
    padding-top: 4px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 280px;
}

@keyframes carousel{
    0%{    border: dashed purple 15px;
    }
    25%{    border: double  darkgreen 18px;
    }
    50%{    border: solid darkblue 21px;
    }
    75%{    border: ridge darkred 25px;
    }
    100%{    border: outset darkgoldenrod 27px;
    }

}